# VSCode
.vscode
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

### Maven ###
# Maven
log/
target/